body {
    background-color: #9A0909;
   
}

#title {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
article {
    overflow: hidden;
    background-color: black;
}

figure {
    background: black;
    width: 150px;
    float: left;
    text-align: center;
    
}

figure img {
    width: 100%;
    display: block;
    margin-left: 80px;
}

figure p {
    margin-bottom: 0;
}

figcaption {
    color: white;
    margin-left: 130px;
}



