#location {
    background: url(../img/bg_locations.png) center / cover;
    height: 1201px;
    @media only screen and (max-width: 768px) {
        height: 920px;
    }
    @media only screen and (max-width: 638px) {
        height: 1100px;
    }

    @media screen and (min-width: 741px) and (max-width: 768px) {
        height: 850px;
    }
    @media screen and (min-width: 639px) and (max-width: 719px) {
        height: 960px;
    }
    @media only screen and (max-width: 397px) {
        height: 1150px;
    }
    .location__content {
        padding: 93px 10px 88px;
        @media only screen and (max-width: 768px) {
            padding: 30px 10px;
        }
    }
    .location__content-text1 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 0px 118px 0px;
        @media only screen and (max-width: 768px) {
            padding: 0px 0px 30px 0px;
        }
        @media only screen and (max-width: 700px) {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .location__content-text1-h2 {
            @include adaptiv-font(100, 75);
            color: white;
            font-weight: 900;
            @media only screen and (max-width: 692px) {
                margin-right: 10px;
            }
            @media only screen and (max-width: 500px) {
                margin-right: 0px;
            }
        }
        .location__content-text1-a {
            text-decoration-color: transparent;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);
            border: none;
            border-bottom: 2px solid;
            padding: 0px 0px 11px 0px;
            background-color: rgba($color: #000000, $alpha: 0);
        }

        .active_btn-loc {
            color: #0bcfce;
        }

        .location__content-text1-a:active,
        .location__content-text1-a:focus,
        .location__content-text1-a:hover {
            color: #0bcfce;
        }

        .location__content-text1-a_blocks1 {
            margin: 0px 100px 0px 119px;
            @media only screen and (max-width: 820px) {
                margin: 0px 50px;
            }
            @media only screen and (max-width: 692px) {
                margin: 0px;
            }
        }
    }
    .location__content-text1-a_blocks {
        @media only screen and (max-width: 691px) {
            margin: 0px 20px;
        }
    }
    .location__content-p {
        font-family: Montserrat;
        font-size: 24px;
        line-height: 1.5;
        color: white;
        @media only screen and (max-width: 500px) {
            text-align: center;
        }
    }

    .alin {
        display: flex;

        @media only screen and (max-width: 691px) {
            margin: 20px 0px;
        }
    }

    .location__inputs {
        @media only screen and (max-width: 740px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .location__inputsfirst {
            display: flex;
            @media only screen and (max-width: 740px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .location__inputs-flex_colum {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        label {
            color: white;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
            line-height: 2.1;
            padding: 15px 0px;
        }
        .location__inputs-zip {
            margin-right: 30px;
            @media only screen and (max-width: 740px) {
                margin-right: 0px;
            }
        }
    }

    .input[type="number"] {
        -moz-appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .location__find-see {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 930px) {
            justify-content: center;
        }
        @media only screen and (max-width: 525px) {
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
        }
        .location__find-see1 {
            padding-left: 415px;
            cursor: pointer;
            @media only screen and (max-width: 930px) {
                padding: 0px 20px 0px 0px;
            }
            @media only screen and (max-width: 525px) {
                padding: 20px 0px;
            }
        }
    }
    input {
        border: none;
        border-bottom: 2px solid rgba($color: #0bcfce, $alpha: 0.2);
        text-align: center;
        background-color: transparent;
        font-size: 36px;
        color: white;
        padding: 16px 0px;
        @media only screen and (max-width: 740px) {
            border-bottom: 2px solid rgba($color: #0bcfce, $alpha: 1);
        }
        &#zip {
            width: 344px;
            @media only screen and (max-width: 740px) {
                width: 500px;
            }
            @media only screen and (max-width: 525px) {
                width: 310px;
            }
        }
        &#сityid {
            width: 718px;
            @media only screen and (max-width: 740px) {
                width: 500px;
            }
            @media only screen and (max-width: 525px) {
                width: 310px;
            }
        }
    }
    input:focus {
        border-bottom: 2px solid rgba($color: #0bcfce, $alpha: 1);
        transition: ease-in 0.1s;
    }

    select {
        text-align-last: center;
        border: none;
        border-bottom: 2px solid rgba($color: #0bcfce, $alpha: 0.2);
        background-color: transparent;
        font-size: 36px;
        color: white;
        padding: 14px 0px;
        @media only screen and (max-width: 740px) {
            border-bottom: 2px solid rgba($color: #0bcfce, $alpha: 1);
        }
        &.radius {
            width: 344px;
            @media only screen and (max-width: 740px) {
                width: 500px;
            }
            @media only screen and (max-width: 525px) {
                width: 310px;
            }
        }
        &.state {
            width: 718px;
            @media only screen and (max-width: 740px) {
                width: 500px;
            }
            @media only screen and (max-width: 525px) {
                width: 310px;
            }
        }
    }

    select:focus {
        border-bottom: 2px solid rgba($color: #0bcfce, $alpha: 1);
    }
    option {
        background-color: #0bcfce;
    }

    .location__find-see1-a {
        @include adaptiv-font(30, 24);
        font-weight: bold;
        text-decoration-color: transparent;
        color: white;
        text-transform: uppercase;
        &:hover {
            color: #0bcfce;
            transition: 0.5s ease;
        }
    }

    .location__inputs-flex_columsecond {
        display: flex;
        flex-direction: column;
    }

    .custom-model-main {
        display: flex;
        align-items: center;
        text-align: center;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; /* z-index: 1050; */
        -webkit-overflow-scrolling: touch;
        outline: 0;
        opacity: 0;
        -webkit-transition: opacity 0.15s linear, z-index 0.15;
        -o-transition: opacity 0.15s linear, z-index 0.15;
        transition: opacity 0.15s linear, z-index 0.15;
        z-index: -1;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .header-model {
        display: flex;
        align-items: center;
        text-align: center;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; /* z-index: 1050; */
        -webkit-overflow-scrolling: touch;
        outline: 0;
        opacity: 0;
        -webkit-transition: opacity 0.15s linear, z-index 0.15;
        -o-transition: opacity 0.15s linear, z-index 0.15;
        transition: opacity 0.15s linear, z-index 0.15;
        z-index: -1;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .model-open {
        z-index: 99999;
        opacity: 1;
        overflow: hidden;
    }
    .custom-model-inner {
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        transform: translate(0, -25%);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: -webkit-transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
        display: inline-block;
        vertical-align: middle;
        width: 600px;
        margin: 30px auto;
        max-width: 97%;
    }
    .custom-model-wrap {
        display: block;
        width: 100%;
        position: relative;
        background-color: whitesmoke;
        border: 1px solid #999;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        background-clip: padding-box;
        outline: 0;
        text-align: left;
        padding: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        max-height: calc(100vh - 70px);
        overflow-y: auto;
    }
    .model-open .custom-model-inner {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        position: relative;
        z-index: 999;
    }
    .model-open .bg-overlay {
        background: rgba(0, 0, 0, 0.6);
        z-index: 99;
    }
    .bg-overlay {
        background: rgba(0, 0, 0, 0);
        height: 100vh;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        -webkit-transition: background 0.15s linear;
        -o-transition: background 0.15s linear;
        transition: background 0.15s linear;
    }
    .close-btn {
        position: absolute;
        right: 4px;
        top: -4px;
        cursor: pointer;
        z-index: 99;
        font-size: 30px;
        color: #0bcfce;
        &:hover,
        :focus {
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            transform: rotate(270deg);
        }
    }

    @media screen and (min-width: 800px) {
        .custom-model-main:before {
            content: "";
            display: inline-block;
            height: auto;
            vertical-align: middle;
            margin-right: -0px;
            height: 100%;
        }
    }
    @media screen and (max-width: 799px) {
        .custom-model-inner {
            margin-top: 45px;
        }
    }

    .pop-up-content-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0bcfce;
        font-size: 24px;
    }
    @media screen and (max-width: 525px) {
        .location__find-see1-a1 {
            padding: 15px;
            border-radius: 20px;
            background-color: #0bcfce;
            border: none;
            color: white;
            text-transform: uppercase;
            &:hover {
                background-color: #0cb4b4;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}
