#services {
    padding: 0px 0px 50px 0px;
    background: url(../img/bg_services.png) center / auto auto no-repeat;
    @media only screen and (max-width: 1425px) {
        background-color: #6c8099;
    }
    .services__h2 {
        @include adaptiv-font(100, 75);
        padding: 59px 0px 100px;
        text-align: center;
        color: white;
        font-weight: 900;
    }
    .services__boxs {
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 1425px) {
            flex-wrap: wrap;
        }
        .services__box {
            padding: 10px;
            margin: 5px 39px 5px 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 0 1 365px;
            @media only screen and (max-width: 1425px) {
                margin: 10px;
                align-items: stretch;
            }
            .services__box1-p1 {
                text-transform: uppercase;
                @include adaptiv-font(45, 30);
                font-weight: bold;
                color: white;
                padding: 0px 0px 59px 0px;
            }
            .services__box1-p2 {
                font-family: "Montserrat", sans-serif;
                font-size: 24px;
                color: #ffffff;
                line-height: 1.5;
                font-weight: 500;
                padding: 0px 0px 50px 0px;
                @media only screen and (max-width: 790px) {
                    font-size: 20px;
                }
            }
            .services__content-learn-more {
                @include adaptiv-font(30, 24);
                font-weight: bold;
                text-decoration-color: transparent;
                color: white;
                text-transform: uppercase;
                &:hover {
                    color: #0bcfce;
                    transition: 0.5s ease;
                }
            }
        }
    }
    .services__box img {
        padding: 0px 0px 65px 0px;
        height: 267px;
        @media only screen and (max-width: 1425px) {
            object-fit: none;
        }
    }
    .services__box-img {
        @media only screen and (max-width: 1425px) {
            margin: 0 auto;
        }
    }
}
