#section_seven {
    .bg_seven {
        background-color: #f8f8f8;
    }
    .footer_content {
        display: flex;
        flex-direction: row;
        padding: 106px 0px;
        justify-content: space-between;
        @media screen and (max-width: 1171px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .footer_content_blocks {
        width: 300px;
        margin: 20px;
        @media screen and (max-width: 1171px) {
            width: 200px;
        }
        @media screen and (max-width: 959px) {
            text-align: center;
        }
    }
    .footer_content_blocks img {
        width: 100%;
    }
    .important_link {
        display: flex;
        flex-direction: column;
        line-height: 1.63;
        width: 200px;
    }
    .logo1 {
        background-image: url(../img/logo_1.jpg);
        width: 153px;
        height: 65px;
        @media screen and (max-width: 959px) {
            margin: 0 auto;
        }
    }
    .sev_block1_p {
        @include adaptiv-font(16, 13);
        line-height: 1.63;
        color: #484949;
        padding-top: 30px;
    }
    .footer_link {
        font-weight: bold;
        color: #4b4b4d;
        padding-bottom: 45px;
        @include adaptiv-font(20, 16);
    }

    .footer_links {
        line-height: 1.63;
        color: #4b4b4d;
        @include adaptiv-font(16, 13);
    }
    .we_can {
        @include adaptiv-font(16, 13);
        line-height: 1.4;
        padding-bottom: 30px;
        color: #4b4b4d;
    }
    .we_can a {
        color: #16c2a3;
    }
    footer {
        text-align: center;
        background-color: rgba($color: #16c2a3, $alpha: 0.32);
        line-height: 1.2;
        padding: 36px 0;
        @include adaptiv-font(20, 16);
    }
}
