#section_three {
    padding-bottom: 200px;
    @media screen and (max-width: 768px) {
        padding-bottom: 50px;
    }
    .services {
        text-align: center;
        padding-bottom: 41px;
        font-size: 36px;
        color: #4b4b4d;
        @include adaptiv-font(36, 24);
    }
    .p_services {
        text-align: center;
        color: #4b4b4d;
        line-height: 1.56;
        padding: 0 10px 101px;
        @include adaptiv-font(16, 13);
    }
    .sers {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .blocks {
        width: 370px;
        height: 361px;
        border: 2px solid;
        border-image-source: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66));
        border-image-slice: 1;
        margin: 0 20px 56px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        @media screen and (max-width: 1124px) {
            margin: 0 5px 56px 0;
        }
        @media screen and (max-width: 739px) {
            margin: 0 0 56px 0;
        }
        @media screen and (max-width: 550px) {
            border: none;
        }
        .service_icon {
            padding: 45px 0 32px 0;
        }
        .ser_text {
            padding-bottom: 20px;
            font-weight: 500;
            color: #4b4b4d;
            @include adaptiv-font(18, 15);
        }
        .ser_lorem {
            text-align: center;
            color: #4b4b4d;
            line-height: 1.56;
            padding-left: 32px;
            padding-right: 32px;
            @include adaptiv-font(14, 12);
        }
    }
    .block4 {
        width: 370px;
        height: 361px;
        margin: 0 20px 56px 0;
        background: url(../img/service_4.jpg);
        display: flex;
        align-items: center;
        flex-direction: column;
        @media screen and (max-width: 1124px) {
            margin: 0 5px 56px 0;
        }
        @media screen and (max-width: 739px) {
            margin: 0 0 56px 0;
        }
        @media screen and (max-width: 380px) {
            width: 320px;
            height: 321px;
        }
        .block4_p {
            color: #ffffff;
            @include adaptiv-font(30, 24);
            font-weight: 500;
            padding: 92px 0 17px 0;
        }
        .block4_stay {
            color: #ffffff;
            text-align: center;
            padding: 0 63px 0 53px;
            line-height: 1.56;
            @include adaptiv-font(16, 13);
            font-weight: normal;
            padding-bottom: 31px;
        }
        .email_form {
            width: 322px;
            height: 60px;
            border-radius: 30px;
            border: solid 1px #dcdcdf;
            background-color: #fafafa;
            padding-left: 15px;
            @media screen and (max-width: 380px) {
                width: 300px;
                height: 60px;
            }
            input::-webkit-input-placeholder {
                color: rgba(75, 75, 77, 0.6);
            }
            input#email {
                border: none;
                padding-left: 10px;
                background-color: #fafafa;
                @media screen and (max-width: 380px) {
                    padding-left: 5px;
                }
            }
            .subcr {
                border: none;
                background-color: #fafafa;
                margin-top: 20px;
                color: #4b4b4d;
                font-weight: 500;
                &:hover {
                    transform: scale(1.1);
                    transition: ease-in 0.2s;
                }
            }
        }
    }
    .btn_black {
        width: 183px;
        height: 55px;
        border-radius: 27.5px;
        background-image: linear-gradient(to top, #04c2a8, #fec667);
        border: none;
        color: white;
        cursor: pointer;
        position: absolute;
        transform: translate(0, 330px);
        transition: all 0.3s;
        text-transform: uppercase;
        &:hover {
            background: rgb(75, 75, 77);
            background: linear-gradient(
                90deg,
                rgba(75, 75, 77, 1) 100%,
                rgba(75, 75, 77, 1) 100%,
                rgba(75, 75, 77, 1) 100%
            );
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
            transform: translateY(325px);
        }
        &:active {
            transform: translateY(332px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        }
    }
}
