#section_three {
    .services {
        text-align: center;
        padding-bottom: 41px;
        font-size: 36px;
        color: #4b4b4d;
    }
    .p_services {
        text-align: center;
        padding-bottom: 101px;
        color: #4b4b4d;
        line-height: 1.56;
    }
    .sers {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .blocks {
        width: 370px;
        height: 361px;
        border: 2px solid;
        border-image-source: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66));
        border-image-slice: 1;
        margin: 0 31px 56px 0;
    }
    .block4 {
        width: 370px;
        height: 361px;
        margin: 0 31px 56px 0;
        background: url(../img/service_4.jpg);
    }
}
