#section_two {
    .what_we_do {
        display: flex;
        justify-content: space-between;
        padding-bottom: 205px;
        @media screen and (max-width: 768px) {
            padding-bottom: 50px;
        }
        .img_whatwe {
            margin: 116px 10px 0;
            overflow: hidden;
            min-height: 150px;
            @media screen and (max-width: 768px) {
                margin: 30px 10px 0;
            }
        }
        .img_whatwe img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .what_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        .what_h2 {
            padding-bottom: 42px;
            color: #4b4b4d;
            @include adaptiv-font(36, 24);
        }
        .p_what {
            padding: 0 10px 50px;
            line-height: 1.5;
            text-align: center;
            @include adaptiv-font(14, 12);
        }
        .learn_more {
            width: 183px;
            height: 55px;
            border-radius: 27.5px;
            background-color: #16c2a3;
            border: none;
            color: white;
            text-transform: uppercase;
            &:hover {
                background-color: #4b4b4d;
                color: white;
                transition-duration: 0.5s;
            }
        }
    }
    @media screen and (max-width: 860px) {
        .what_we_do {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .what_text {
            padding-top: 20px;
        }
        .img_whatwe {
            margin: 0px;
        }
    }
}
