.a_nav-overflow {
    overflow: hidden;
}

.a_nav-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#55b7ff, 1);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

@media screen and (max-width: 990px) {
    .a_nav-bg-visible {
        display: block;
    }
}

.header__content-first.scroll {
    background-image: linear-gradient(to top, #55b7ff, #7e5aff);
    position: fixed;
    width: 100%;
    padding-top: 5px;
    margin-top: 0;
}
.header__content-first {
    width: 100%;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1100;
    margin-top: 53px;
    padding: 0 15px;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__arrow img {
    animation: scroll 1s infinite;
}
.topnav {
    display: flex;
    flex-direction: row;
    .nav__hrefs {
        &:not(:last-child) {
            margin-right: 84px;
        }

        @media screen and (max-width: 1009px) {
            &:not(:last-child) {
                margin-right: 70px;
            }
        }
        @media screen and (max-width: 990px) {
            &:not(:last-child) {
                margin-right: 0;
            }
        }
        &:hover {
            border-bottom: 2px solid white;
            padding-bottom: 5px;
            transition: ease-in 0.1s;
        }
    }
}
.topnav a {
    color: #ffffff;
    text-align: center;
    text-decoration-color: transparent;
    font-size: 14px;
    font: outline;
    font-family: "GothamBook", sans-serif;
    @media screen and (max-width: 990px) {
        padding-top: 40px;
    }
}
.topnav .icon {
    display: none;
}

@media screen and (max-width: 990px) {
    .a_nav {
        display: none;
    }
    .topnav .icon {
        display: block;
    }
}

@media screen and (max-width: 990px) {
    .active {
        margin-top: 30px;
    }

    .responsive {
        display: block;
        position: absolute;
        top: 500%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;

        a {
            font-size: 28px;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}

.containerIcon {
    cursor: pointer;
}
.containerIcon .bar1,
.containerIcon .bar2,
.containerIcon .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.header__icons {
    padding-top: 7px;
    .header__icons-a {
        text-decoration: none;
        padding-right: 5px;
    }

    @media screen and (max-width: 1220px) {
        display: none;
    }
}
.header__icons-a img:hover {
    transform: scale(1.1);
    transition: ease-in 0.3s;
}
.header__content-sec {
    padding-top: 263px;
    text-align: center;
    .header__h2 {
        padding-bottom: 39px;
        font-family: "Gothambold", sans-serif;
        font-weight: bold;
        line-height: 0.7;
        letter-spacing: 4px;
        color: #ffffff;
        @include adaptiv-font(80, 34);
        @media screen and (max-width: 461px) {
            line-height: 1;
        }
    }
    .header__p {
        line-height: 1.22;
        letter-spacing: 5.4px;
        @include adaptiv-font(18, 15);
        text-transform: uppercase;
        color: #ffffff;
        font-family: "GothamBook", sans-serif;
        padding-bottom: 224px;
    }
}
.about:before {
    content: "\f111";
    font-family: "icomoon";
    transform: translate(-25px, 2px);
    position: absolute;
    font-size: 10px;
}

.before_dots:before {
    content: "\f10c";
    font-family: "icomoon";
    font-size: 10px;
    transform: translate(-25px, 2px);
    position: absolute;
}

.before_dots:hover:before {
    content: "\f111";
}
#section__header {
    background: url(../img/Bg.png) center/cover no-repeat;
    width: 100%;
    height: 800px;
    .slick-slide img {
        display: inline;
    }

    .slick-dots {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30%;
        left: 97%;
        @media screen and (max-width: 1210px) {
            top: 0;
            left: 0;
            position: relative;
            flex-direction: row;
            justify-content: center;
            transform: translateY(-250px);
        }
    }

    .slick-dots {
        li {
            list-style: none;
            margin: 40px 0px;
            @media screen and (max-width: 1210px) {
                margin: 40px 30px;
            }
        }
    }

    .slick-dots {
        button {
            font-size: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid #fff;
        }
    }

    .slick-active {
        button {
            background-color: white;
        }
    }

    @keyframes scroll {
        /* ANIMATION SCROLL */
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(15%);
        }

        100% {
            transform: translateY(0);
        }
    }
    .header__arrow {
        padding-bottom: 10px;
    }
}
