body {
    padding: 0;
    margin: 0;
    line-height: 1;   
    font-family: Montserrat;
}


.container {
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
}

.title {
    font-weight: normal;
    color:white;
    text-align: center;
    border-bottom: 2px solid white;
    padding: 5px;
}


#beetroot_img {
    width: 800px;
    margin: 0 auto;
    display: block;
}

.lessons_list {
    border: 1px solid darkgray;
    list-style-type: none;
    padding: 0;
}

.lessons_list .list_item {
    padding: 40px 30px;
    font-size: 14px;
    border: 1px solid darkgray;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    
}

.lessons_list .list_item:last-child {
    border-bottom: none;    
    border-bottom: 1px solid darkgray;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    background: lightgrey;
}

.lessons_list .list_item:last-child {
     border-bottom: none;   
}

.list_item a {
    font-size: 30px;
    color: violet;
    font-weight: bold;
    text-decoration: none;
    
}

.list_item a:hover {
    color: white;
}

.list_item:hover {
    background: rgba(239,197,202,1);
    background: -moz-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,197,202,1)), color-stop(50%, rgba(210,75,90,1)), color-stop(51%, rgba(186,39,55,1)), color-stop(100%, rgba(241,142,153,1)));
    background: -webkit-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
    background: -o-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
    background: -ms-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
    background: linear-gradient(to right, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99', GradientType=1 );
}

